<div class="clearfix"></div>
<div class="row" style="height: calc( 100vh - 70px);">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Dashboard</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
            <input type="date" (change)="getAttendenceDetail()" [(ngModel)]="date" class="form-control"/>
        </div>
        <div class="row" style="padding-left: 10px">
          <div class="widget widget_tally_box">
            <div class="x_panel">
              <div class="x_title">
                <h2>Attendence</h2>
                  <div class="clearfix"></div>
                </div>
                <ul class="to_do">
                  <li><span style="font-size:medium">{{attendence_record.total_present_users}} </span><span class="" style="padding-left:40px">Total employee present</span></li>
                  <li><span style="font-size:medium">{{attendence_record.total_registered_users-attendence_record.total_present_users}} </span><span class="" style="padding-left:40px">Total employee absent</span></li>
                  <li><span style="font-size:medium">{{attendence_record.total_registered_users}} </span><span class="" style="padding-left:40px"> Employee</span></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
