<md-toolbar color="primary">
  Sub Departments
</md-toolbar>
<style>
  div{
    position: absolute;
    left:0px;
    padding:16px;
    top: 0px;
  }
</style>

<md-grid-list cols="2">
  <md-grid-tile>
    <div style="width:70%; ">
      <form #myForm="ngForm">
        <md-input-container style="width:100%;">
          <input mdInput placeholder="Sub Department name" name="name" [(ngModel)]="subDepartment.name">
        </md-input-container>
        <md-select style="width: 100%;"  placeholder="Select Department" [(ngModel)]="subDepartment.department_id" name="department_id">
          <md-option *ngFor="let department of departments" [value]="department.id">
            {{department.name}}
          </md-option>
        </md-select>
        <br>
        <br>
        <button md-raised-button color="primary" type="submit" (click)="save(); myForm.reset();" >Save</button>
      </form>

    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div style="width: 70%; height:80%;">
      <md-card style="width: 100%; height: calc(100vh - 200px); overflow-y:auto;">
        <h2>Sub Departments List</h2>
        <hr>
        <md-list>
          <md-list-item *ngFor="let subDepartment of subDepartments">
            <!--<md-icon md-list-icon>delete</md-icon>-->
            <h3 md-line> {{subDepartment.name}} under {{subDepartment.department}}</h3>
            <button md-raised-button color="primary" (click)="deleteSubDepartment(subDepartment)" >Delete</button>
          </md-list-item>
        </md-list>
      </md-card>
    </div>
  </md-grid-tile>
</md-grid-list>
