<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Register New User</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form  [formGroup]= "myform" (ngSubmit)="registerEmployee()" id="demo-form2"data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">User Name</label>
              <input type="text" class="form-control" [(ngModel)]="employee.username" formControlName="username"/>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Registered User</label>
              <select formControlName="user_id" [(ngModel)]="employee.user_id"  class="form-control" (change)="getUserDetail()">
                <option *ngFor="let obj of unregisteredUser" [value]="obj.id">{{obj.name}}<span *ngIf="obj.name == ''">{{obj.id}}</span></option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Registered User Id</label>
              <input class="form-control" placeholder="Registered User Id" disabled [value]="employee.user_id == undefined ? null : employee.user_id">
            </div>
          </div>
          <br>
          <h4>Official detail</h4>
          <hr>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Branch</label>

              <select formControlName="branch_id"  class="form-control" [(ngModel)]="employee.branch_id">
                <option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</option>
              </select>

            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Department</label>

              <select formControlName="department_id"  class="form-control" [(ngModel)]="employee.department_id">
                <option *ngFor="let department of departments" [value]="department.id"> {{department.name}} </option>
              </select>

            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Sub Department</label>

              <select formControlName="sub_department_id"  class="form-control" [(ngModel)]="employee.sub_department_id">
                <option *ngFor="let item of subDepartments" [value]="item.id">{{item.name}}</option>
              </select>

            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label">Mode</label>
              <select formControlName="mode_id"  class="form-control" [(ngModel)]="employee.mode_id">
                <option *ngFor="let item of modes" [value]="item.id">{{item.name}}</option>
              </select>

            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Status</label>

              <select formControlName="mode_id"  class="form-control" [(ngModel)]="employee.status_id">
                <option *ngFor="let item of statuses" [value]="item.id">{{item.name}}</option>
              </select>

            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Type</label>
              <select formControlName="type_id"  class="form-control" [(ngModel)]="employee.type_id">
                <option *ngFor="let item of types" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Grade</label>
              <select formControlName="grade_id"  class="form-control" [(ngModel)]="employee.grade_id">
                <option *ngFor="let item of grades" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Designation</label>
              <select formControlName="designation_id"  class="form-control" [(ngModel)]="employee.designation_id">
                <option *ngFor="let item of designations" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">

              <label class="control-label">Nepali Joined Date</label>
              <input type="text"  placeholder="mm/dd/yyyy" class="form-control date-picker" [(ngModel)]="employee.joined_n_date" formControlName="joined_n_date">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">English Joined Date</label>
              <input type="date"  placeholder="English Joined Date" class="form-control" [(ngModel)]="employee.joined_e_date" formControlName="joined_e_date">
            </div>
          </div>
          <br>
          <h4>Personal Information</h4>
          <hr>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">First Name</label>
              <input type="text"  placeholder="First Name" class="form-control" [(ngModel)]="employee.first_name" formControlName="first_name">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Middle Name</label>
              <input type="text"  placeholder="Middle Name" class="form-control" [(ngModel)]="employee.middle_name" formControlName="middle_name">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Last Name</label>
              <input type="text"  placeholder="Last Name" class="form-control" [(ngModel)]="employee.last_name" formControlName="last_name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Date of Birth in Nepali</label>
              <input type="text"  placeholder="mm/dd/yyyy" class="form-control" [(ngModel)]="employee.dob_n" formControlName="dob_n">

            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Date of Birth in English</label>
              <input type="date"  placeholder="Date of Birth" class="form-control" [(ngModel)]="employee.dob_e" formControlName="dob_e">
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">Gender</label>
              <select formControlName="gender"  class="form-control" [(ngModel)]="employee.gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
              </select>

            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Email</label>
              <input type="text"  placeholder="Email" class="form-control" [(ngModel)]="employee.email" formControlName="email">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Citizenship No</label>
              <input type="text"  placeholder="Citizenship No" class="form-control" [(ngModel)]="employee.citizenship_no" formControlName="citizenship_no">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Mobile No</label>
              <input type="number"  placeholder="Mobile No" class="form-control" [(ngModel)]="employee.mobile_number" formControlName="mobile_number">
            </div>
          </div>
          <br>
          <h4>Temporary Address</h4>
          <hr>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Temporary Country</label>
              <input type="text"  placeholder="Temporary Country" class="form-control" [(ngModel)]="employee.t_country" formControlName="t_country">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Temporary Zone</label>
              <input type="text"  placeholder="Temporary Zone" class="form-control" [(ngModel)]="employee.t_zone" formControlName="t_zone">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Temporary Address</label>
              <input type="text"  placeholder="Temporary Address" class="form-control" [(ngModel)]="employee.t_address" formControlName="t_address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Temporary District</label>
              <input type="text"  placeholder="Temporary District" class="form-control" [(ngModel)]="employee.t_district" formControlName="t_district">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Temporary Street</label>
              <input type="text"  placeholder="Temporary Street" class="form-control" [(ngModel)]="employee.t_street" formControlName="t_street">
            </div>
          </div>
          <br>
          <h4>Permanent Address</h4>
          <hr>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Permanent Country</label>
              <input type="text"  placeholder="Permanent Country" class="form-control" [(ngModel)]="employee.p_country" formControlName="p_country">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Permanent Zone</label>
              <input type="text"  placeholder="Permanent Zone" class="form-control" [(ngModel)]="employee.p_zone" formControlName="p_zone">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Permanent Address</label>
              <input type="text"  placeholder="Permanent Address" class="form-control" [(ngModel)]="employee.p_address" formControlName="p_address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Permanent District</label>
              <input type="text"  placeholder="Permanent District" class="form-control" [(ngModel)]="employee.p_district" formControlName="p_district">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Permanent Street</label>
              <input type="text"  placeholder="Permanent Street" class="form-control" [(ngModel)]="employee.p_street" formControlName="p_street">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
