<md-toolbar color="primary">
  New Employee
</md-toolbar>
<style>
  .full-width{
    width:98%;
  }
  .less-width{
    width:100%;
  }
  md-select{
    margin: 16px 0px;
    padding-bottom: 6px;
  }
</style>
<div style="padding: 16px; overflow-y: auto; height: calc(100vh - 155px);">
  <form #myForm="ngForm">
    <table class="less-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="User Name" [(ngModel)]="employee.username" name="username">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Registered Users" class="full-width" [(ngModel)]="employee.reg_id" name="reg_id">
            <md-option *ngFor="let obj of registeredUsers" [value]="obj.id">
              {{obj.username}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Registered User Id" disabled [value]="employee.reg_id == undefined ? null : employee.reg_id">
          </md-input-container>
        </td>
        <td>
      </tr>
      <h3>Official Details</h3>
      <tr>
        <td><hr></td>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Branch" class="full-width" [(ngModel)]="employee.branch_id" name="branch_id">
            <md-option *ngFor="let branch of branches" [value]="branch.id">
              {{branch.name}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Department" class="full-width" [(ngModel)]="employee.department_id" name="department_id">
            <md-option *ngFor="let item of departments" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Sub-Department" class="full-width" [(ngModel)]="employee.sub_department_id" name="sub_department_id">
            <md-option *ngFor="let item of subDepartments" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Designation" class="full-width" [(ngModel)]="employee.designation_id" name="designation_id">
            <md-option *ngFor="let item of designations" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Grade" class="full-width" [(ngModel)]="employee.grade_id" name="grade_id" >
            <md-option *ngFor="let item of grades" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Mode" class="full-width" [(ngModel)]="employee.mode_id" name="mode_id">
            <md-option *ngFor="let item of modes" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Status" class="full-width" [(ngModel)]="employee.status_id" name="status_id">
            <md-option *ngFor="let item of statuses" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Type" class="full-width" [(ngModel)]="employee.type_id" name="type_id">
            <md-option *ngFor="let item of types" [value]="item.id">
              {{item.name}}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput pattern="[0-9]{4}/[0-1][0-9]/[0-3][0-9]" placeholder="Joined date in B.S (yyyy/mm/dd)" [(ngModel)]="employee.joined_n_date" name="joined_n_date">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput pattern="[0-9]{4}/[0-1][0-9]/[0-3][0-9]" placeholder="Joined date in A.D (yyyy/mm/dd)" [(ngModel)]="employee.joined_e_date" name="joined_e_date">
          </md-input-container>
        </td>
      </tr>
      <h3>Personal Details</h3>
      <tr>
        <td><hr></td>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="First name" [(ngModel)]="employee.first_name" name="first_name">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Middle name" [(ngModel)]="employee.middle_name" name="middle_name">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Last name" [(ngModel)]="employee.last_name" name="last_name">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input pattern="[0-9]{4}/[0-1][0-9]/[0-3][0-9]" mdInput placeholder="Date of Birth in B.S (yyyy/mm/dd)" [(ngModel)]="employee.dob_n" name="dob_n">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input pattern="[0-9]{4}/[0-1][0-9]/[0-3][0-9]" mdInput placeholder="Date of Birth in A.D (yyyy/mm/dd)" [(ngModel)]="employee.dob_e" name="dob_e">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Gender" class="full-width" [(ngModel)]="employee.gender" name="gender">
            <md-option value="male">Male</md-option>
            <md-option value="female">Female</md-option>
            <md-option value="other">Other</md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width" >
            <input type="number" mdInput placeholder="Phone" [(ngModel)]="employee.mobile_number" name="mobile_number">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width" >
            <input type="email" mdInput placeholder="Email" [(ngModel)]="employee.email" name="email">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Citizenship No" [(ngModel)]="employee.citizenship_no" name="citizenship_no">
          </md-input-container>
        </td>
      </tr>
      <h3>Permanent Address</h3>
      <tr>
        <td><hr></td>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Country" [(ngModel)]="employee.p_country" name="p_country">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Zone" [(ngModel)]="employee.p_zone" name="p_zone">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="District" [(ngModel)]="employee.p_district" name="p_district">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Address" [(ngModel)]="employee.p_address" name="p_address">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Street" [(ngModel)]="employee.p_street" name="p_street">
          </md-input-container>
        </td>
      </tr>
      <h3>Temporary Address</h3>
      <tr>
        <td><hr></td>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Country" [(ngModel)]="employee.t_country" name="t_country">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Zone" [(ngModel)]="employee.t_zone" name="t_zone">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="District" [(ngModel)]="employee.t_district" name="t_district">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Address" [(ngModel)]="employee.t_address" name="t_address">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input type="text" mdInput placeholder="Street" [(ngModel)]="employee.t_street" name="t_street">
          </md-input-container>
        </td>
      </tr>
    </table>
    <button [disabled]="!myForm.valid" md-raised-button color="primary" type="submit" (click)="save(myForm);" >Save Employee</button>
  </form>

</div>

