<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <form   (ngSubmit) = "onSubmit()" #loginForm = "ngForm" [formGroup]='myForm'>
            <h1>Login Form</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" formControlName="email" [(ngModel)] = "login.email" required="">

            </div>
            <div>
              <input type="password" class="form-control"  placeholder="Password" formControlName="password" minlength="6" [(ngModel)] = "login.password" required="">

            </div>
            <div>
              <button type="submit" class="btn btn-default submit" >Log in</button>
              <a class="reset_pass" href="#">Lost your password?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <p class="change_link">New to site?
                <a href="#toregister" class="to_register"> Create Account </a>
              </p>
              <div class="clearfix"></div>
              <br>
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Freelancer Management System</h1>
                <p>©2017 All Rights Reserved.Freelancer Company. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>